<mat-toolbar>
  <mat-toolbar-row class="row-1">
    <span>Custom Toolbar</span>
  </mat-toolbar-row>

  <mat-toolbar-row class="row-2">
    <span>© 2005 Alexej Hein</span>
  </mat-toolbar-row>

  <mat-toolbar-row class="row-3">
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

