<div class="content">
<h1>Impressum</h1>
<p><strong>Alexej Hein</strong><br>
  Flakenstraße 1<br>
  56856 Zell Mosel<br>
  E-Mail: alexej.hein&#64;aol.de</p>

<h2>Verantwortlich für den Inhalt</h2>
<p><strong>Alexej Hein</strong><br>
  Flakenstraße 1<br>
  56856 Zell Mosel<br></p>

<h2>Haftung für Inhalte</h2>
<p>Als Diensteanbieter bin ich gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten verantwortlich. Eine Haftung ist jedoch erst ab Kenntnis konkreter Rechtsverletzungen möglich.</p>

<h2>Haftung für Links</h2>
<p>Diese Seite enthält Links zu externen Webseiten Dritter. Für deren Inhalte ist stets der jeweilige Anbieter verantwortlich.</p>

<h2>Urheberrecht</h2>
<p>Die Inhalte dieser Seite unterliegen dem deutschen Urheberrecht. Die Vervielfältigung und Verbreitung bedarf der schriftlichen Zustimmung.</p>
</div>
